body {
    background: rgb(221, 247, 238);
}

.head {
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    background: #e7eeea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.head ul {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.head a {
    text-decoration: none;
    color: #7b8e7f;
    font-weight: bold;
    padding: 10px;
    font-size: 24px;
}

.photo {
    position: relative;
    border-radius: 60px;
    backdrop-filter: blur(10px);
}

.photo img {
    width: 100%;
    height: 600px;
}

.text {
    position: absolute; 
    top: 80%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    color: white; 
}

.text h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #cbf9db;
    font-weight: bold;
}

.text a:hover {
    color: white;
    background: #24701d;
}

.text p {
    font-size: 20px;
    color: #cbf9db;
}

.title {
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    margin: 30px 0;
    color: #3fb969;
}

.introImg {
    width: 750px;
    height: 650px;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition:  0.5s ease;
}
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; 
}
.introduction h1 {
    font-size: 46px;
    margin: 30px 0;
}

.introduction h2 {
    margin: 20px 0 50px;
    line-height: 25px;
    width: 1100px;
    font-weight: bold;
}

.line {
    height: 3px;
    width: 100%;
    background: #ffffff;
}

.foodTitle {
    text-align: center;
    margin: 30px 0;
    font-size: 46px;
}

.safe {
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.card {
    width: 450px;
    height: 450px;
    border: 2px solid #fff;
    position: relative;
    margin: 0 10px 150px;
}

.card h1 {
    margin: 20px;
}

.circle img {
    width: 160px;
    height: 160px;
}

.circle {
    position: absolute;
    left: 145px;
    bottom: -80px;
}

.footer {
    background: #648b86d8;
    height: 180px;
    display: flex;
    justify-content: space-around;
}

.footerLine {
    height: 3px;
    width: 250px;
    background: #e8f0ee;
}

.connection {
    padding-top: 40px;
    color: #444;
    line-height: 30px;
    font-weight: bold;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}
#toggler{
    display: none;
}
.desktop {
    display: none ;
}
@media (max-width:769px){
	body, html {
        overflow-x: hidden;
		
    }
    .desktop {
        display: none ;
    }
    .head {
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .photo {
        width: 100%;
        border-radius: 0;
    }
    
    
    .headerham {
        background-color: #fff;
        height: 44px;
        padding: 0 16px;
        display: block;
        margin-right: 10px;
        border-radius: 15%;
    }
    .head {
        position: relative;
    }
    .hamburger-container {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        top: 16px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked + label .hamburger-container span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
    .nav-items {
        background-color: #f5f5ff;
        color: #000;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0;
        opacity: 0;
    }
    #toggler:checked ~ .nav-items {
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
	#toggler{
		display: none;
	}
	.footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 120px;
        text-align: center;
    }
    .connection {
        margin-top: 30px;
    }
    .footerLine {
        margin-left: 260px;
    
    }
    .introImg{
    width: 360px;
    height: 360px;
    }
    .introduction h2{
        width: 340px;
    }
    .safe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        position: relative;
        width: 405px;
    }
    .circle img{
        position: absolute;
        padding-right: 90px;
        bottom:2px;
        right: -235px;
    }
}
@media (max-width:1025px){
	body, html {
        overflow-x: hidden;
		
    }
    .desktop {
        display: none ;
    }
    .head {
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .photo {
        width: 100%;
        border-radius: 0;
    }
    
    
    .headerham {
        background-color: #fff;
        height: 44px;
        padding: 0 16px;
        display: block;
        margin-right: 10px;
        border-radius: 15%;
    }
    .head {
        position: relative;
    }
    .hamburger-container {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        top: 16px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked + label .hamburger-container span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
    .nav-items {
        background-color: #f5f5ff;
        color: #000;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0;
        opacity: 0;
    }
    #toggler:checked ~ .nav-items {
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
	#toggler{
		display: none;
	}
	.footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 120px;
        text-align: center;
    }
    .connection {
        margin-top: 30px;
    }
    .footerLine {
        margin-left: 250px;
        padding-right: 150px;
    }
    .introImg{
    width: 360px;
    height: 360px;
    }
    .introduction h2{
        width: 340px;
    }
    .safe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        position: relative;
        width: 405px;
    }
    .circle img{
        position: absolute;
        padding-right: 90px;
        bottom:2px;
        right: -235px;
    }
}
@media (max-width:913px){
	body, html {
        overflow-x: hidden;
		
    }
    .desktop {
        display: none ;
    }
    .head {
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .photo {
        width: 100%;
        border-radius: 0;
    }
    
    
    .headerham {
        background-color: #fff;
        height: 44px;
        padding: 0 16px;
        display: block;
        margin-right: 10px;
        border-radius: 15%;
    }
    .head {
        position: relative;
    }
    .hamburger-container {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        top: 16px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked + label .hamburger-container span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
    .nav-items {
        background-color: #f5f5ff;
        color: #000;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0;
        opacity: 0;
    }
    #toggler:checked ~ .nav-items {
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
	#toggler{
		display: none;
	}
	.footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 120px;
        text-align: center;
    }
    .connection {
        margin-top: 30px;
    }
    .footerLine {
        margin-left: 330px ;
        
    }
    .introImg{
    width: 360px;
    height: 360px;
    }
    .introduction h2{
        width: 600px;
    }
    .safe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        position: relative;
        width: 405px;
    }
    .circle img{
        position: absolute;
        padding-right: 90px;
        bottom:2px;
        right: -235px;
    }
}
@media (max-width:854px){
	body, html {
        overflow-x: hidden;
		
    }
    .desktop {
        display: none ;
    }
    .head {
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .photo {
        width: 100%;
        border-radius: 0;
    }
    
    
    .headerham {
        background-color: #fff;
        height: 44px;
        padding: 0 16px;
        display: block;
        margin-right: 10px;
        border-radius: 15%;
    }
    .head {
        position: relative;
    }
    .hamburger-container {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        top: 16px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked + label .hamburger-container span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
    .nav-items {
        background-color: #f5f5ff;
        color: #000;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0;
        opacity: 0;
    }
    #toggler:checked ~ .nav-items {
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
	#toggler{
		display: none;
	}
	.footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 120px;
        text-align: center;
    }
    .connection {
        margin-top: 30px;
    }
    .footerLine {
        margin-left: 20px ;
        
    }
    .introImg{
    width: 360px;
    height: 360px;
    }
    .introduction h2{
        width: 600px;
    }
    .safe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        position: relative;
        width: 405px;
    }
    .circle img{
        position: absolute;
        padding-right: 90px;
        bottom:2px;
        right: -235px;
    }
}
@media (max-width:821px){
	body, html {
        overflow-x: hidden;
		
    }
    .desktop {
        display: none ;
    }
    .head {
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .photo {
        width: 100%;
        border-radius: 0;
    }
    
    
    .headerham {
        background-color: #fff;
        height: 44px;
        padding: 0 16px;
        display: block;
        margin-right: 10px;
        border-radius: 15%;
    }
    .head {
        position: relative;
    }
    .hamburger-container {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        top: 16px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked + label .hamburger-container span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
    .nav-items {
        background-color: #f5f5ff;
        color: #000;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0;
        opacity: 0;
    }
    #toggler:checked ~ .nav-items {
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
	#toggler{
		display: none;
	}
	.footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 120px;
        text-align: center;
    }
    .connection {
        margin-top: 30px;
    }
    .footerLine {
        margin-left: 200px ;
        padding: 0;
    }
    .introImg{
    width: 360px;
    height: 360px;
    }
    .introduction h2{
        width: 600px;
    }
    .safe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        position: relative;
        width: 405px;
    }
    .circle img{
        position: absolute;
        padding-right: 90px;
        bottom:2px;
        right: -235px;
    }
}

@media (max-width:541px){
	body, html {
        overflow-x: hidden;
		
    }
    .desktop {
        display: none ;
    }
    .head {
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .photo {
        width: 100%;
        border-radius: 0;
    }
    
    
    .headerham {
        background-color: #fff;
        height: 44px;
        padding: 0 16px;
        display: block;
        margin-right: 10px;
        border-radius: 15%;
    }
    .head {
        position: relative;
    }
    .hamburger-container {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        top: 16px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked + label .hamburger-container span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
    .nav-items {
        background-color: #f5f5ff;
        color: #000;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0;
        opacity: 0;
    }
    #toggler:checked ~ .nav-items {
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
	#toggler{
		display: none;
	}
	.footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 120px;
        text-align: center;
    }
    .connection {
        margin-top: 30px;
    }
    .footerLine {
        margin-left: 140px;
        padding-right: 0px;
    }
    .introImg{
    width: 360px;
    height: 360px;
    }
    .introduction h2{
        width: 340px;
    }
    .safe{
        display: flex;
        flex-direction: column;
    }
    .card{
        position: relative;
        width: 405px;
    }
    .circle img{
        position: absolute;
        padding-right: 90px;
        bottom:2px;
        right: -235px;
    }
}

@media (max-width:431px){
	body, html {
        overflow-x: hidden;
		
    }
    .desktop {
        display: none ;
    }
    .head {
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .photo {
        width: 100%;
        border-radius: 0;
    }
    
    
    .headerham {
        background-color: #fff;
        height: 44px;
        padding: 0 16px;
        display: block;
        margin-right: 10px;
        border-radius: 15%;
    }
    .head {
        position: relative;
    }
    .hamburger-container {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        top: 16px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked + label .hamburger-container span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
    .nav-items {
        background-color: #f5f5ff;
        color: #000;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0;
        opacity: 0;
    }
    #toggler:checked ~ .nav-items {
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
	#toggler{
		display: none;
	}
	.footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 120px;
        text-align: center;
    }
    .connection {
        margin-top: 30px;
    }
    .footerLine {
        margin-left: 90px;
    
    }
    .introImg{
    width: 360px;
    height: 360px;
    }
    .introduction h2{
        width: 340px;
    }
    .safe{
        display: flex;
        flex-direction: column;
    }
    .card{
        position: relative;
        width: 405px;
    }
    .circle img{
        position: absolute;
        padding-right: 90px;
        bottom:2px;
        right: -235px;
    }
}
@media (max-width:415px){
	body, html {
        overflow-x: hidden;
		
    }
    .desktop {
        display: none ;
    }
    .head {
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .photo {
        width: 100%;
        border-radius: 0;
    }
    
    
    .headerham {
        background-color: #fff;
        height: 44px;
        padding: 0 16px;
        display: block;
        margin-right: 10px;
        border-radius: 15%;
    }
    .head {
        position: relative;
    }
    .hamburger-container {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        top: 16px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked + label .hamburger-container span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
    .nav-items {
        background-color: #f5f5ff;
        color: #000;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0;
        opacity: 0;
    }
    #toggler:checked ~ .nav-items {
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
	#toggler{
		display: none;
	}
	.footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 120px;
        text-align: center;
    }
    .connection {
        margin-top: 30px;
    }
    .footerLine {
        margin-left: 80px;
    
    }
    .introImg{
    width: 360px;
    height: 360px;
    }
    .introduction h2{
        width: 340px;
    }
    .safe{
        display: flex;
        flex-direction: column;
    }
    .card{
        position: relative;
        width: 390px;
    }
    .circle img{
        position: absolute;
        padding-right: 90px;
        bottom:2px;
        right: -220px;
    }
}
@media (max-width:391px){
	body, html {
        overflow-x: hidden;
		
    }
    .desktop {
        display: none ;
    }
    .head {
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .photo {
        width: 100%;
        border-radius: 0;
    }
    
    
    .headerham {
        background-color: #fff;
        height: 44px;
        padding: 0 16px;
        display: block;
        margin-right: 10px;
        border-radius: 15%;
    }
    .head {
        position: relative;
    }
    .hamburger-container {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        top: 16px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked + label .hamburger-container span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
    .nav-items {
        background-color: #f5f5ff;
        color: #000;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0;
        opacity: 0;
    }
    #toggler:checked ~ .nav-items {
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
	#toggler{
		display: none;
	}
	.footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 120px;
        text-align: center;
    }
    .connection {
        margin-top: 30px;
    }
    .footerLine {
        margin-left: 70px;
    
    }
    .introImg{
    width: 360px;
    height: 360px;
    }
    .introduction h2{
        width: 340px;
    }
    .safe{
        display: flex;
        flex-direction: column;
    }
    .card{
        position: relative;
        width: 365px;
    }
    .circle img{
        position: absolute;
        padding-right: 90px;
        bottom:2px;
        right: -210px;
    }
}
@media (max-width:376px){
	body, html {
        overflow-x: hidden;
		
    }
    .desktop {
        display: none ;
    }
    .head {
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .photo {
        width: 100%;
        border-radius: 0;
    }
    
    
    .headerham {
        background-color: #fff;
        height: 44px;
        padding: 0 16px;
        display: block;
        margin-right: 10px;
        border-radius: 15%;
    }
    .head {
        position: relative;
    }
    .hamburger-container {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        top: 16px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked + label .hamburger-container span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
    .nav-items {
        background-color: #f5f5ff;
        color: #000;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0;
        opacity: 0;
    }
    #toggler:checked ~ .nav-items {
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
	#toggler{
		display: none;
	}
	.footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 120px;
        text-align: center;
    }
    .connection {
        margin-top: 30px;
    }
    .footerLine {
        margin-left: 60px;
    
    }
    .introImg{
    width: 360px;
    height: 360px;
    }
    .introduction h2{
        width: 340px;
    }
    .safe{
        display: flex;
        flex-direction: column;
    }
    .card{
        position: relative;
        width: 350px;
    }
    .circle img{
        position: absolute;
        padding-right: 90px;
        bottom:2px;
        right: -200px;
    }
}
@media (max-width:361px){
	body, html {
        overflow-x: hidden;
		
    }
    .desktop {
        display: none ;
    }
    .head {
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .photo {
        width: 100%;
        border-radius: 0;
    }
    
    
    .headerham {
        background-color: #fff;
        height: 44px;
        padding: 0 16px;
        display: block;
        margin-right: 10px;
        border-radius: 15%;
    }
    .head {
        position: relative;
    }
    .hamburger-container {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        top: 16px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked + label .hamburger-container span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
    .nav-items {
        background-color: #f5f5ff;
        color: #000;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0;
        opacity: 0;
    }
    #toggler:checked ~ .nav-items {
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
	#toggler{
		display: none;
	}
	.footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 120px;
        text-align: center;
    }
    .connection {
        margin-top: 30px;
    }
    .footerLine {
        margin-left: 60px;
    
    }
    .introImg{
    width: 360px;
    height: 360px;
    }
    .introduction h2{
        width: 320px;
    }
    .safe{
        display: flex;
        flex-direction: column;
    }
    .card{
        position: relative;
        width: 335px;
    }
    .circle img{
        position: absolute;
        padding-right: 90px;
        bottom:2px;
        right: -190px;
    }
}
@media (max-width:321px){
	body, html {
        overflow-x: hidden;
		
    }
    .desktop {
        display: none ;
    }
    .head {
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .photo {
        width: 100%;
        border-radius: 0;
    }
    
    
    .headerham {
        background-color: #fff;
        height: 44px;
        padding: 0 16px;
        display: block;
        margin-right: 10px;
        border-radius: 15%;
    }
    .head {
        position: relative;
    }
    .hamburger-container {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        top: 16px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked + label .hamburger-container span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
    .nav-items {
        background-color: #f5f5ff;
        color: #000;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0;
        opacity: 0;
    }
    #toggler:checked ~ .nav-items {
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
	#toggler{
		display: none;
	}
	.footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 120px;
        text-align: center;
    }
    .connection {
        margin-top: 30px;
    }
    .footerLine {
        margin-left: 40px;
    
    }
    .introImg{
    width: 360px;
    height: 360px;
    }
    .introduction h2{
        width: 240px;
    }
    .safe{
        display: flex;
        flex-direction: column;
    }
    .card{
        position: relative;
        width: 300px;
    }
    .circle img{
        position: absolute;
        padding-right: 90px;
        bottom:2px;
        right: -180px;
    }
}